.choiceList-class{
  margin:10px 0 0 0;
  background:#e05038;
  text-align:center;
}

.h-title-des{
  text-align: center;
}

.h-col-center {
  padding-top: 10px;
  margin-left: 50%;
  margin-right: 50%;
  padding-bottom: 10px;
  float: none;
    margin: 0 auto;
}

.list-type-table {
  padding-left: -20px;
  text-align: left; 
  font-size: 40px;
  font-family: BankGothic;
  font-style: oblique;
}

.h-entry-table {
  text-align: left;
  font-size: 80%;
  font-family: ;
}

.goodsList-class{
  //display:none;
}

.descrption-class{
  display:block;
  background: #e6af4b;
}

.float-left{
  float:left;
}

.font-white{
  color:#ffffff;
}

.background-black{
  background: #000000;
}

.span-size{
  width:140px;
  text-align:center;
}

.goods-item-containter-class{
  width:100%;
  height:24px;
}

.url-link{
  hover:hand;
  display:block;
  color:white;
  background: black
}

.formsubmit{
    margin: 50px auto;
    display:block;
}

.fileupload{
    margin: 50px auto;
    display:block;
}

.bubble{
    border-radius:5px;
    background: #ff3400;
    display:none;
    margin:50px auto;
    width:600px;
    height:200px;
}

.details{
  display:block;
  margin:2px,5px;
}

.hidden_goods {
  display:none;
}